[submodule "tools/gl4es"]
	path = tools/gl4es
	url = https://github.com/JSKitty/gl4es
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "src/libs"]
	path = src/libs
	url = https://github.com/etlegacy/etlegacy-libs
[submodule "src/vendor/omni-bot"]
	path = src/vendor/omni-bot
	url = https://github.com/jswigart/omni-bot
